<a href="https://colab.research.google.com/github/Lua-N/learning/blob/main/testes_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
# programa para gerar tabuada de qualquer número inteiro

numero = int(input("Digite um número para mostrar a tabuada:"))
for x in range(1,11,1):
  print(x * numero)

Digite um número para mostrar a tabuada:5
5
10
15
20
25
30
35
40
45
50

In [35]:
# converte minúscula para maiúscula e embaralha as letras

def converter_maiuscula(texto, flag_maiuscula):
  if flag_maiuscula:
    return texto.upper()
  else:
    return texto.lower()
nome = input('Digite algo: ')    

from random import sample
a = sample(nome,len(nome))
d = ''. join(a)
texto = converter_maiuscula(flag_maiuscula=True, texto=d)
print(texto)

Digite algo: luana
LAAUN

In [3]:
# converte minúscula para maiúscula e embaralha as letras

def converter_maiuscula(texto, flag_maiuscula):
  nome = input('Digite algo: ')    

  for a in nome:
    if (a.isupper()) == True:
      
  from random import sample
  a = sample(nome,len(nome))
  d = ''. join(a)
  texto = converter_maiuscula(flag_maiuscula=True, texto=d)

  print(texto)